#calendar tbody tr td[class*="color"] {
    border-right: 1px solid white;
}

#calendar tbody tr td[class*="color"]:first-child {
    border-left-color:inherit;
}

#calendar tbody tr td[class*="color"]:last-child {
    border-right-color:inherit;
}

#calendar tbody tr:nth-child(5) td[class*="color"] {
    border-bottom-color: white;
}

#calendar tbody tr:last-child td[class*="color"] {
    border-bottom-color: inherit;
}

#calendar tbody .prev-month-last-day:not(:last-child) {
    border-right: 1px solid #9c9c9c; !important;
}